<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436839965700-47s30rrlrmge2cpujearpm4230c97peo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436839965700-47s30rrlrmge2cpujearpm4230c97peo</string>
	<key>API_KEY</key>
	<string>AIzaSyDcK6ZZbOaWF5uDahg03up4VVEm4Skx3Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>436839965700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasakhirAplikasiKesehatan</string>
	<key>PROJECT_ID</key>
	<string>aplikasikesehatan-7ce04</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasikesehatan-7ce04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436839965700:ios:51d4b6e01c5fc440fa0151</string>
</dict>
</plist>